{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "plugin:vue/vue3-recommended",
    "eslint:recommended",
    "@vue/typescript/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": "warn",
    "vue/multi-word-component-names": "off"
  },
  "ignorePatterns": [
    ".nuxt/**/*",
    "**/node_modules/**",
    "**/components/ui/**",
    "**/dist/**"
  ]
}